# Ignore systemd enablement directories managed by systemctl
/common/.config/systemd/user/*.wants/ 

# Ignore local Codex integration assets
personal/Applications/codex-acp
common/.config/systemd/user/openclaw-gateway.service
common/.config/systemd/user/protonmail-bridge.service
common/.config/systemd/user/opencode.service
common/.config/systemd/user/9router.service
common/.local/bin
common/.local/share/nvim
common/.local/share
common/.local/state
common/.config/opencode/assets
common/.config/opencode/logs
common/.config/opencode/smart-voice-notify.jsonc
/common/.config/opencode/opencode.json
/common/.mcporter/mcporter.json
common/.config/mcporter/mcporter.json
__pycache__/
*.pyc
