[Unit]
Description="Goldwarden daemon"
After=graphical-session.target

[Service]
# Run native if available, otherwise fallback to flatpak
ExecStart=/bin/sh -c 'if [ -x /usr/bin/goldwarden ]; then exec /usr/bin/goldwarden daemonize; else exec flatpak run --command=goldwarden com.quexten.Goldwarden daemonize; fi'

[Install]
WantedBy=graphical-session.target
