[Unit]
Description=Quiesce user apps before system sleep
Before=sleep.target
StopWhenUnneeded=yes

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/libexec/framework-user-app-sleep pre
ExecStop=/usr/local/libexec/framework-user-app-sleep post

[Install]
WantedBy=sleep.target
